<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>
<body>

<section class="layout-content" layout:fragment="corpo">
	<nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Turnos</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/turnos/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Turnos</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        	<div class="formCadastro form-row justify-content-center">
	            <form th:action="${turno.id == null} ? @{/turnos/salvar} : @{/turnos/editar}" 
	                  th:object="${turno}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-12">
	                        <label for="nome">Turno</label>
	                        <input type="text" class="form-control" id="nome"
	                               placeholder="Nome Turno" autofocus="autofocus" th:field="*{nome}"/>
	                    </div>
	                </div>
	                <input type="hidden" id="id" th:field="*{id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	            </div>
	        </div>
	    </section>

</body>
</html>