<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8">
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Pagamento</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/compra/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Pagamentos</span>
	                </a>
	            </div>
         </nav>
	
	</section>

</body>
</html>