<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8">
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Pagamento</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/compra/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Pagamentos</span>
	                </a>
	            </div>
         </nav>
	
		<div class="container" id="cadastro">
	        
	        <div th:replace="fragments/alert"></div>
		        <div class="formCadastro ">
		            
		            <form th:action="${pagamento.id == null} ? @{/pagamentos/salvar} : @{/pagamentos/editar}"
		            th:object="${pagamento}" method="POST">
		                <div class="form-group row justify-content-center">
							<h4 for="nome">Nome do Aluno</h4>
		                    <div class="col-4">
		                        <select id="alunoPagamento" class="form-control" th:field="*{aluno}">
		                            <option value="0">Selecione</option>
		                            <option th:each="d : ${alunos}" 
		                                    th:value="${d.id}" 
		                                    th:text="${d.nome}+' - '+${d.turma.nome}">Administração</option>
		                        </select>
		                        <div class="invalid-feedback">
		
		                        </div>
		                    </div>
		                    <h4 for="saldoAluno">Saldo</h4>
		                    <div class="col-2">
		                        <input type="text" class="form-control" id="saldoPagamento" 
		                        th:value="${aluno?.saldo}" data-mask="#.##0,00" data-mask-reverse="true" 
		                        name="saldo" readonly/>
		                        <div class="invalid-feedback">
		
		                        </div>
		                    </div>
		                </div>
		                <div class="row"><br/><br/></div>
		                <div class="form-group row justify-content-center">
		                    <div class="col-6">
		                        <label for="data">Data do Pagamento</label>
		                        <input type="date" class="form-control" id="data" th:field="*{data}" />
		                        <div class="invalid-feedback">
		
		                        </div>
		                    </div>
		                    <div class="col-2">
		                        <label for="valor">Valor do Pagamento</label>
		                        <input type="text" class="form-control" id="valor" value="0.00"
		                        	placeholder="0.00" data-mask="#.##0,00" data-mask-reverse="true" 
		                        	th:field="*{valor}" />
		                    </div>
		                </div>
		                
						<div class="row justify-content-center">
							<div class="col-8">
								<label for="descricao">Descrição</label>
								<textarea class="form-control" id="descricao" 
								rows="3" th:field="*{descricao}"></textarea>
							</div>
						</div>
		                
		                <br>
		                <div class="row justify-content-center">
			                <input type="hidden" id="id" th:field="*{id}"/>
			                <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
		                </div>
		            </form>
				</div>
	        </div>
	
	</section>

</body>
</html>