<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>
<body>

	<section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Alunos</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/alunos/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Alunos</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        	
	        	<div class="formCadastro form-row justify-content-center">
	                  
	            <form th:action="${aluno.id == null} ? @{/alunos/salvar} : @{/alunos/editar}" 
	                  th:object="${aluno}" method="POST">
	                  
	                  <div th:replace="fragments/validacao :: validacao"></div>
	                  
	                <div class="form-row">
	                    <div class="form-group col-md-10">
	                        <label for="nome">Aluno</label>
	                        <input type="text" class="form-control" id="nome"
	                               placeholder="Nome Aluno" autofocus="autofocus" th:field="*{nome}"
	                               th:value="${aluno.nome}" th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
	                        	<span th:errors="*{nome}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="turno">Turno</label>
	                        <select id="turno" class="form-control" th:field="*{turno}"
	                        	th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
	                            <option value="">Selecione</option>
	                            <option th:each="d : ${turnos}" 
	                                    th:value="${d.id}" th:text="${d.nome}">Administração</option>
	                        </select>
	                        <div class="invalid-feedback">
	                        	<span th:errors="*{turno}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="turma">Turma</label>
	                        <select id="turma" class="form-control" th:field="*{turma}">
	                            <option value="">Selecione</option>
	                            <option th:each="d : ${turmas}" 
	                                    th:value="${d.id}" th:text="${d.nome}">Administração</option>
	                        </select>
	                    </div>
	                    <div class="form-group col-md-2">
	                        <label for="saldo">Saldo</label>
	                        <input type="text" class="form-control" id="saldo" placeholder="0,00" 
	                               th:field="*{saldo}"/>
	                    </div>
	                </div>
	                <input type="hidden" id="id" th:field="*{id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	            </div>
	        </div>	        
	    </section>
	    
</body>
</html>